node_modules
dist
coverage
.git
.env
.env.*
!.env.example
!.env.test
*.log
npm-debug.log*
prisma/*.db
DEVELOPER_NOTES.md
frontend
# Документация не нужна в образах, кроме OpenAPI-спецификации для Swagger UI
docs/*
!docs/docs
docs/docs/*
!docs/docs/api
docs/docs/api/*
!docs/docs/api/openapi.yaml
docker-compose*.yml
README.md