# Backend
NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://komi:komi_password@localhost:5432/gastro_komi?schema=public
JWT_SECRET=change_me_super_secret_32_chars_min
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
SEED_ADMIN_EMAIL=admin@gastronomiakomi.ru
SEED_ADMIN_PASSWORD=Admin123!
